*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --griso: rgb(32,32,32);
    --grism: rgb(64,64,64);
    --grismc: rgb(96,96,96);
    --grisn: rgb(128,128,128);
    --grisc: rgb(192,192,192);
    --amarillo:rgb(255, 255, 192);
    --azul: rgb(0,192,255);
    --naranja: rgb(255, 28, 0);
    --sombra1: 0px 5px 5px rgba(0,0,0,0.5); 
}

body{
    background-color: white;
}

#titulo{
    background-color: var(--griso);
    padding: 10px;
}

header{
    position: relative;
    background-color: var(--griso);
    color: var(--grisc);
    text-align: center;
    height: 40px;
    z-index: 20;
    padding-top: 10px;
}

nav{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: var(--griso);
    justify-content: space-between;
    align-items: flex-end;
    color: var(--grisc);
    height: 30px;
    padding: 20px 70px;
    z-index: 20;
    box-shadow: var(--sombra1);
    margin-top: 25px;
}

nav a{
    color: var(--grisc);
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: -15px; 
}

nav a:hover{
    box-shadow: var(--sombra1);  
}

.ltmenu{
    margin-bottom: -15px;
}

.ltmenu:hover{
    box-shadow: var(--sombra1);
    border-radius: 5px;   
}

.tmenu{
    cursor: pointer;
    padding: 5px 10px; 
}

input{
    display: none;
}

.sindice{
    position: fixed;
    width: 250px;
    height: 150vh;
    right: -50px;
    top: 20px;/*OJO*/
    z-index: 10;
    transition:  0.5s;
}

:checked ~ .sindice{
    right: -300px;
}

.indice{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    width: 200px;
    background-color: var(--griso);
    padding: 10px;
    padding-top: 100px;
    color: var(--grisc);
    box-shadow: -10px 0px 10px rgba(0,0,0,0.5); 
}

.indice a{
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--grisc);
    background-color: var(--grism);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.8);
    margin-bottom: 10px;
    font-weight: bold;
}

.indice a:hover{
    background-color: var(--grismc);
    box-shadow: var(--sombra1); 
}

.indice a:first-of-type{
    border-radius: 10px 10px 0px 0px;
}

.indice a:last-of-type{
    border-radius: 0px 0px 10px 10px;
}

.fondo{
    height: 350px;
    background-image: url(gitygithublogo.svg);
    background-color: var(--griso);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -150px;
    width: 100%;
}

.subtitulo{
    text-align: center;
    background-color: var(--azul);
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 10px; 
}

.subtitulo:nth-child(n+2){
    background-color: var(--amarillo);
}